@import "tailwindcss";

@theme {
  --color-brand-dark: #112E40;
  --color-brand-bg: #C7D2D9;
  --color-brand-primary: #025949;
  --color-brand-accent: #1FBF92;
  --color-brand-light: #6CD9BA;
}


/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background-color: var(--color-brand-bg);
  color: var(--color-brand-dark);
}
